.main{ 
    
    max-width: 1270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
    background: #FFF;
    margin: 0 auto;
}
.page{
    max-width: 1270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
    background: #FFF;
    margin: 0 auto; 
}

@media screen and (max-width: 480px){
    .main{
        background: #FAFAFA;
    }
    .page{
        background: #FAFAFA; 
    }
}
.hover-button:hover{
    opacity: 0.8;
}
.hover-link:hover{
    opacity: 0.7;
}

.hover-button{
    transition: opacity 1s ease-out;
    cursor: pointer;
}
.hover-link{
    transition: opacity 1s ease-out;
    cursor: pointer;
}

