.page__portfolio {
    width: 1140px;
    padding-top: 100px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}


.portfolio__title {
    margin: 0 0 50px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #8B8B8B;
}

.portfolio__element{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: -1.2px;
}

.portfolio__nav {
    width: 100%;
}

.portfolio__lists {
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio__link {
    text-decoration: none;
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    justify-content: space-between;
    color: #000;
}
.portfolio__link:hover{
    opacity: 0.7;
  }


.portfolio__link_type_last {
    margin-bottom: 0;
}

.portfolio__subtitle {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
}

.portfolio__button {
    width: 29px;
    height: 60px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../../images/portfolioButton.svg);
    background-repeat: no-repeat;
    background-position: 4px 18px;
    background-size: 20px 18px;

}

@media screen and (min-width: 767px) and (max-width: 1279px){
    .page__portfolio{
        width: 668px;
        padding-top: 91px;
        margin-bottom: 90px
    }

}


@media screen and (max-width: 767px){
    .page__portfolio{
        width: 480px;
        padding-top: 70px;
        margin-bottom: 70px
    }
}

@media screen and (max-width: 550px){
    .page__portfolio{
        width: 292px;
        padding-top: 70px;
        margin-bottom: 46px
    }
    .portfolio__title{
        margin-bottom: 44px;
    }
    .portfolio__nav{
        margin-top: -4px;
    }
    .portfolio__subtitle{
font-size: 18px;
line-height: 28px; /* 155.556% */
letter-spacing: -0.72px;
    }
    .portfolio__link{
        margin-bottom: 20px;
        height: 28px;

    }
    .portfolio__element{
        margin-bottom: 30px
    }
    .portfolio__element:last-of-type{
        margin-bottom: 0px
    }
    .portfolio__button{
        width: 18px;
        height: 28px;
        background-size: 10px 20px;
        background-position: 0;
    }
}