.header {
    width: 100%;
    min-height: 74px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .header__container{
    width: 1140px;
    display: flex;
      margin: 0px 70px 0 70px;

    align-items: center;
  }
  
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    .header {
      width: 100%;

    }
    .header__container {
      margin: 0 auto;
      width: 708px;
    }
  }
  
  @media screen and (max-width: 767px){
    .header {
      width: 100%;

      
    }
    .header__container{
      margin: 0 auto;
      width: 100%;
      margin-left: 14px;
      margin-right: 14px;
    }
  }
  @media screen and (max-width: 380px){
    .header{
      
      margin: 0 auto;
    }
    .header__container{
      width: 290px;
      margin: 0 auto;
      
    }
  }