.auth__page{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 70px;
}
.auth__title{
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.auth__form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.auth__about-input{
    color: #A0A0A0;
padding-left: 2px;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.auth__input{
    border: none;
    border-bottom: #E8E8E8 solid 1px;
    background: transparent;
    outline:none;
    height: 27px;
    
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}
.auth__form-submit-register{
    width: 396px;
height: 45px;
flex-shrink: 0;
border-radius: 3px;
background: #3456F3;
color: #FFF;
text-align: center;
border: none;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.auth__subtitle{
    color: #A0A0A0;
text-align: center;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.auth__subtitle-link{
    color: #3456F3;
text-align: center;
text-decoration: none;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.auth__error-register{
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 10px;
height: 15px;
margin-top: 98px;
text-align: center;
}

@media screen and (max-width: 767px){

    .auth__form-submit-button  {
        width: 260px;
     }
 .auth__form{
    width: 260px;
 }
 .auth__form-submit-register {
    margin-top: 234px;
    width: 260px;
    font-size: 12px;
 }
 .auth__subtitle{
    font-size: 12px;
 }
 .auth__subtitle-link{
    font-size: 12px;
 }

}

.auth__input:focus{
    border-bottom: 0.1px solid #3456F3;
}