.page__footer {
    display: flex;
    flex-direction: column;
    width: 1140px;
    
  }
  
.footer__title {
    margin: 60px 0 20px 0;
    text-align: center;
    color: #A0A0A0;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #E8E8E8;;
  }

  .footer__nav {
    display: flex;
  }
  
  .footer__subtitle {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
   
  }
  
  .footer__link {
    margin-right: 20px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #000;
  }
    
  .footer__link:last-of-type {
    margin-right: 0;
  }

  @media screen and (min-width: 767px) and (max-width: 1279px){
    .page__footer{
      width: 708px;
    }
  }
  
  @media screen and (max-width: 767px){
    .page__footer{
      width: 480px;
    }
  }

  @media screen and (max-width: 550px){
    .page__footer{
      width: 292px;
      flex-direction: column;
      align-items: center;
    }
    .footer__title{
      font-size: 12px;
      margin-top: 70px;
    }
    
    .footer__container{
      display: flex;
      flex-direction: column-reverse;
      width: 292px;
      padding-top: 30px;
      align-items: center;
      padding-top: 35px;
    }
    .footer__nav{
      flex-direction: column;
      width: 111px;
      text-align: center;
    }
    .footer__link{
      margin: 0;
      padding-bottom: 12px;
    }
    .footer__link:last-of-type{
      padding-bottom: 30px;
    }
  }

  .footer__link:hover{
    opacity: 0.7;
  }
  
