.about-me {
    width: 1140px;
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
}

.about-me__info {
    display: grid;
    grid-template-columns: 660px 270px;
    grid-row-gap: 26px;
    grid-column-gap: 210px;
    padding-top: 66px;
}

.about-me__title {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    margin: 0;
    padding-bottom: 18px;
}

.about-me__title-name {
    margin: 0;
    margin-bottom: 18px;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    /* 116% */
    letter-spacing: -2px;
}

.about-me__subtitle {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding-bottom: 26px;
    line-height: 20px;
    /* 111.111% */
}

.about-me__bio {
    color: #000;
    width: 600px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 1
            /* 157.143% */
    margin: 0;
    padding-bottom: 99px;
}

.about-me__link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    text-decoration: none;
}

.about-me__photo {
    border-radius: 10px;
    width: 270px;
    height: 327px;
    flex-shrink: 0;
}

@media screen and (min-width: 767px) and (max-width: 1279px) {
    .about-me {
        width: 668px;
    }

    .about-me__title {
        padding-top: 18px;
    }

    .about-me__info {
        grid-column-gap: 50px;
        grid-template-columns: 364px 255px;
    }

    .about-me__title-name {
        font-size: 40px;
        height: 40px;
        line-height: 40px;
    }

    .about-me__subtitle {
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 20px;
    }

    .about-me__photo {
        width: 255px;
        height: 307px;
    }

    .about-me__bio {
        width: 364px;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 87px;
    }
}

@media screen and (max-width: 767px) {
    .about-me {
        width: 480px;
        margin-top: 0;
    }

    .about-me__title {
        padding-top: 70px;
    }

    .about-me__info {
        width: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-me__title-name {

        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
       
    }
    .about-me__text{
        width: 400px;
    }

    .about-me__subtitle {
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 11px;
        line-height: 16px;
        /* 145.455% */
        padding-bottom: 20px;
    }

    .about-me__photo {
        width: 280px;
        height: 352px;
        order: -1;
     
    }

    .about-me__bio {
        width: 400px;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 11px;
        line-height: 16px;
        /* 145.455% */
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 550px) {
    .about-me {
        width: 292px;
        align-items: center;
        

    }

    .about-me__title {
        padding-top: 111px;
        padding-bottom: 28px;
        width: 290px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about-me__info {
        width: 280px;
        grid-row-gap: 34px;
        gap: 0;
        display: flex;
        align-items: center;

    }
.about-me__text{
    width: 280px;
    margin: 0 auto;
}
    .about-me__title-name{
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .about-me__bio {
        width: 270px;
        padding-bottom: 16px;


    }

}